<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Team</title>
    </head>
    <body>
        <form action="/teams/<%= team.id %>?_method=PUT" method="POST">
            <div>
                <label for="name">Name</label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    value="<%= team.name %>"
                />
            </div>
            <div>
                <label for="division">Division</label>
                <input
                    type="text"
                    name="division"
                    id="division"
                    value="<%= team.division %>"
                />
            </div>
            <div>
                <label for="founded">Founded</label>
                <input
                    type="text"
                    name="founded"
                    id="founded"
                    value="<%= team.founded %>"
                />
            </div>
            <div>
                <button type="submit">Update</button>
            </div>
        </form>
    </body>
</html>
