<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div>
            <h1>Team List</h1>
        </div>
        <div>
            <ul class="collection">
                <% for( let i = 0; i < teams.length; i++ ) { %>
                <li class="collection-item">
                    <a href="/teams/<%= teams[i].id %>"
                        ><%= teams[i].name %> - <%= teams[i].division %>
                        <%=teams[i].founded %></a
                    >
                </li>
                <% } %>
            </ul>
        </div>
    </body>
</html>
