<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>New Team</h1>
        <form action="/teams" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" required />
            <label for="division">Division</label>
            <select id="division" required>
                <option value="AFC East">AFC East</option>
                <option value="AFC North">AFC North</option>
                <option value="AFC South">AFC South</option>
                <option value="AFC West">AFC West</option>
                <option value="NFC East">NFC East</option>
                <option value="NFC North">NFC North</option>
                <option value="NFC South">NFC South</option>
                <option value="NFC West">NFC West</option>
            </select>
            <label for="founded">Founded</label>
            <input type="text" id="founded" required />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
