<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Show Team</title>
    </head>
    <body>
        <div class="container">
            <p><%= team.name %> - <%= team.division %> - <%= team.founded %></p>
        </div>
    </body>
</html>
